/* line 37, ../sass/_partials/_mixins.scss */
.imgMedium {
  border-border-radius: 4px;
  border-height: 5rem;
  border-width: 7rem;
}

/* line 29, ../sass/cvimport.scss */
body {
  font: 1.2rem bold Helvetica, sans-serif;
  color: #fff;
}

/* line 34, ../sass/cvimport.scss */
div {
  height: 5rem;
  width: 5rem;
  border: 0.1rem solid #327DA0;
  display: inline-block;
  margin: 1rem;
  padding-top: 1.0rem;
  padding-left: 1.5rem;
}

/* line 47, ../sass/cvimport.scss */
.page-title {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
  padding: 4px;
  margin-top: 10px;
}

/* line 53, ../sass/cvimport.scss */
#box1 {
  background-color: #327DA0;
}

/* line 57, ../sass/cvimport.scss */
#box2 {
  background-color: #a03246;
}

/* line 61, ../sass/cvimport.scss */
#box3 {
  background-color: #a08c32;
}

/* line 65, ../sass/cvimport.scss */
#box4 {
  background-color: #a0327d;
}

/* line 69, ../sass/cvimport.scss */
#box5 {
  background-color: #a05532;
}

/* line 73, ../sass/cvimport.scss */
#box6 {
  background-color: #32a08c;
}

/*# sourceMappingURL=cvimport.css.map */
