@charset "UTF-8";
/*
// Note: The values used in the calculations make up the Golden Ratio – this ratio was designed to produce an aesthetically 
// pleasing effect; in this instance, we use it to produce a layout that balances content space in proportion to the navigation. 
// For more details, head over to Wikipedia, at https://en.wikipedia.org/wiki/Golden_ratio.
*/
/*
// We now need to set some color variables. Sass will automatically switch the appropriate color 
// values at compilation; it makes our code easier to read:
*/
/*
// This block of code calculates the font size to use for various elements on our page with rem units:
*/
/*
// Next up, we will sort out the relevant font sizes to use for elements on our page. We will use calculateRem() in this reusable block of code, known as a mixin, 
// to translate pixel-based font sizes; it will render font sizes in rem values, falling back to pixels if rem values are not supported:
*/
/*
// The next six styles take care of the relevant sections of our page, beginning with the main container:
*/
/* line 41, ../sass/demopage.scss */
body {
  max-width: 800px;
  padding: 0.3125rem;
  border: 0.0625rem solid black;
  margin: 5% auto;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5);
  font-family: 'Kite One', sans-serif;
}

/*
// Then, comes the title text for the header:
*/
/* line 54, ../sass/demopage.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 400;
  padding: 1.563rem 0 0 6.25rem;
  position: absolute;
}

/*
// We can't have title text without some form of background, so let's add this now:
*/
/* line 65, ../sass/demopage.scss */
header {
  font-size: 18px;
  font-size: 1.125rem;
  height: 8.125rem;
  background: url("../img/header.jpg") #3e7a90;
}

/*
// We have a title, but a page is nothing without content, so let's fix this by adding this rule:
*/
/* line 74, ../sass/demopage.scss */
section {
  width: 494px;
  float: left;
  box-sizing: border-box;
  height: 35.94rem;
  padding: 0.625rem;
}

/*
// We need to finish off the page with a footer. This includes the styling for the social images shown on the right-hand 
// side of the footer: 
*/
/* line 86, ../sass/demopage.scss */
footer {
  font-size: 12px;
  font-size: 0.75rem;
  border-top: 0.0625rem solid #cccccc;
  clear: both;
  height: 4.063rem;
  padding: 0.3125rem 0 0;
}
/* line 92, ../sass/demopage.scss */
footer img {
  background: url("../img/sprites.png") white;
  background-repeat: no-repeat;
  width: 10.94rem;
  height: 3.75rem;
  float: right;
}

/*
// Last but by no means least, we need something in our navigation. So, let's take care of this now. First with the container, 
// followed by the styles used within navigation entries, as shown in the following code:
*/
/* line 105, ../sass/demopage.scss */
nav {
  width: 306px;
  border-right: 0.0625rem solid #cccccc;
  float: left;
  box-sizing: border-box;
  height: 35.94rem;
  margin: 0.3125rem 0;
}
/* line 113, ../sass/demopage.scss */
nav li {
  list-style: none;
  margin: 0.3125rem;
}
/* line 118, ../sass/demopage.scss */
nav a {
  text-decoration: none;
}
/* line 120, ../sass/demopage.scss */
nav a:hover {
  background-color: #e8d296;
  padding: 0.3125rem;
  transition: .5s ease;
}

/*
// How often have you written code that refers to the same (or similar) selectors, which may be two or three levels deep? Instead, we can 
// reduce the code we need to write by grouping similar (or identical) styles together.
*/
/* line 132, ../sass/demopage.scss */
.couch, .couch-leather, .couch-fabric {
  padding: 2em;
  height: 246rem;
  width: 528rem;
}

/* line 139, ../sass/demopage.scss */
.couch-leather {
  background: saddlebrown;
}

/* line 144, ../sass/demopage.scss */
.couch-fabric {
  background: linen;
}

/*# sourceMappingURL=demopage.css.map */
