/* line 12, ../sass/styles.scss */
h1 {
  color: rgba(102, 51, 17, 0.7);
  font-size: 4em;
}
/* line 2, ../sass/styles.scss */
h1 h1:before {
  content: "Hi FireFox users! This is a....";
}

/* line 18, ../sass/styles.scss */
h2 {
  color: #7c3e15;
  margin-top: -20px;
  font-size: 3.2em;
}
/* line 2, ../sass/styles.scss */
h2:before {
  content: "Hi FireFox users! This is a....";
}

/* line 25, ../sass/styles.scss */
h3 {
  color: #924918;
  margin-top: -20px;
  font-size: 2.4em;
}
/* line 2, ../sass/styles.scss */
h3:before {
  content: "Hi FireFox users! This is a....";
}

/* line 32, ../sass/styles.scss */
h4 {
  color: #a8541c;
  margin-top: -20px;
  font-size: 1.6em;
}
/* line 2, ../sass/styles.scss */
h4:before {
  content: "Hi FireFox users! This is a....";
}

/* line 39, ../sass/styles.scss */
h5 {
  color: #bd5f20;
  margin-top: -20px;
  font-size: 0.8em;
}
/* line 2, ../sass/styles.scss */
h5:before {
  content: "Hi FireFox users! This is a....";
}

/*# sourceMappingURL=styles.css.map */
