@import "_partials/_properties.scss";

@import "_partials/_fadeOut.scss";
@import "_partials/_flipOutX.scss";
@import "_partials/_slideOutUp.scss";

.flipOutX {
    @include flipOutX();
}

.fadeOut {
    @include fadeOut();
}

.slideOutUp {
    @include slideOutUp();
}

* { box-sizing: border-box; }

html { font-family: sans-serif; font-size: 62.5%; }

body { font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px;
    line-height: 1.42857; color: #555; }

button { color: inherit; font: inherit; margin: 0px; overflow: visible; text-transform: none; cursor: pointer;   
    font-family: inherit; font-size: inherit; line-height: inherit; }

.btn { margin-bottom: 0px; font-weight: normal; text-align: center; vertical-align: middle; cursor: pointer;
    border: 1px solid transparent; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 4px;
    -moz-user-select: none; border-width: 0px 1px 4px; font-size: 16px; font-weight: bold; 
    text-transform: uppercase; }

.btn:hover { margin-top: 1px; border-bottom-width: 3px; }
.btn:hover, .btn:focus { text-decoration: none; }

.btn-danger { color: #FFF; background-color: #FF4136; border-color: #FF291C; }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    color: #FFF; background-color: #FF1A0D; border-color: #DE0C00; }

.btn-block { display: block; width: 30%; padding-left: 0px; padding-right: 0px; }