@import '_partials/_colors';
@import '_partials/_mixins';

// The file we've imported doesn't specify an extension. This is perfectly fine 
// in Sass. As long as a file exists with this name, it will import it with or 
// without an extension.

// Note:
// If we group statements into a number of separate files, it makes them shorter 
// and easier to manage, while still maintaining the same end result.

$color-box1: $dark-blue;
$color-box2: $dark-red;
$color-box3: $dark-yellow;
$color-box4: $dark-pink;
$color-box5: $dark-orange;
$color-box6: $dark-cyan;

// Note:
// Abstracting reusable colours away into human-readable variables, like $hot-pink, is awesome and recommended.
// However defining a whole other set of variables with content- or module-derived names…

// Doesn't make long-term maintenance easier. If I need to change a colour in a module, it's easier to just 
// update a human-readable value right there in the module.

// Slows down development. Finding or creating a global variable every time I add a color or background property 
// to a ruleset is painful.

body {
	font: 1.2rem bold Helvetica, sans-serif;
	color: $white;
}

div {
	height: 5rem;
	width: 5rem;
	border: 0.1rem solid $dark-blue;
	display: inline-block;
	margin: 1rem;
	padding-top: 1.0rem;
	padding-left: 1.5rem;
}

// The great thing about mixins is that we can easily 
// reference them within other rules in our code.

.page-title {
  @include large-text;
  padding: 4px;
  margin-top: 10px;
}

#box1 {
	background-color: $dark-blue;
}

#box2 {
	background-color: $dark-red;
}

#box3 {
	background-color: $dark-yellow;
}

#box4 {
	background-color: $dark-pink;
}

#box5 {
	background-color: $dark-orange;
}

#box6 {
	background-color: $dark-cyan;
}