/*
// Note: The values used in the calculations make up the Golden Ratio – this ratio was designed to produce an aesthetically 
// pleasing effect; in this instance, we use it to produce a layout that balances content space in proportion to the navigation. 
// For more details, head over to Wikipedia, at https://en.wikipedia.org/wiki/Golden_ratio.
*/
$baseWidth: 800px;
$mainWidth: round($baseWidth / 1.618);
$sidebarWidth: round($baseWidth * 0.382);

/*
// We now need to set some color variables. Sass will automatically switch the appropriate color 
// values at compilation; it makes our code easier to read:
*/

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light-gray: rgb(204, 204, 204);
$dark-moderate-blue: rgb(62,122,144);
$very-soft-orange: rgb(232, 210, 150);

/*
// This block of code calculates the font size to use for various elements on our page with rem units:
*/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

/*
// Next up, we will sort out the relevant font sizes to use for elements on our page. We will use calculateRem() in this reusable block of code, known as a mixin, 
// to translate pixel-based font sizes; it will render font sizes in rem values, falling back to pixels if rem values are not supported:
*/
@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/*
// The next six styles take care of the relevant sections of our page, beginning with the main container:
*/
body {
  max-width: $baseWidth;
  padding: 0.3125rem;
  border: 0.0625rem solid black;
  margin: 5% auto;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba($black, .5);
  font-family: 'Kite One', sans-serif;
}

/*
// Then, comes the title text for the header:
*/
h1 {
  @include font-size(32px);
  color: #FFFFFF;
  font-weight: 400;
  padding: 1.563rem 0 0 6.25rem;
  position: absolute;
}

/*
// We can't have title text without some form of background, so let's add this now:
*/
header {
  @include font-size(18px);
  height: 8.125rem;
  background: url("../img/header.jpg") $dark-moderate-blue;
}

/*
// We have a title, but a page is nothing without content, so let's fix this by adding this rule:
*/
section {
  width: $mainWidth;
  float: left;
  box-sizing: border-box;
  height: 35.94rem;
  padding: 0.625rem;
}

/*
// We need to finish off the page with a footer. This includes the styling for the social images shown on the right-hand 
// side of the footer: 
*/
footer {
  @include font-size(12px);
  border-top: 0.0625rem solid $light-gray;
  clear: both;
  height: 4.063rem;
  padding: 0.3125rem 0 0;
  img {
    background: url('../img/sprites.png') $white;
    background-repeat: no-repeat;
    width: 10.94rem;
    height: 3.75rem;
    float: right;
  }
}

/*
// Last but by no means least, we need something in our navigation. So, let's take care of this now. First with the container, 
// followed by the styles used within navigation entries, as shown in the following code:
*/
nav {
  width: $sidebarWidth;
  border-right: 0.0625rem solid $light-gray;
  float: left;
  box-sizing: border-box;
  height: 35.94rem;
  margin: 0.3125rem 0;
  
  li { 
    list-style: none; 
    margin: 0.3125rem; 
    }
    
  a {
    text-decoration: none;
    &:hover { 
      background-color: $very-soft-orange; 
      padding: 0.3125rem; 
      transition: .5s ease; 
      }
  }
}
/*
// How often have you written code that refers to the same (or similar) selectors, which may be two or three levels deep? Instead, we can 
// reduce the code we need to write by grouping similar (or identical) styles together.
*/

.couch {
  padding: 2em;
  height: 246rem;
  width: 528rem;

}

.couch-leather {
  @extend .couch;
  background: saddlebrown;
}

.couch-fabric {
  @extend .couch;
  background: linen;
}