@mixin firefox-message($selector, $message) {
  #{$selector}:before {
    content: $message;
  }
}

$firefoxGreeting: "Hi FireFox users! This is a....";
$mainColour: #631;
$h1Size: 4em;
$removeMargin: -20px;

h1 { 
	@include firefox-message("h1", $firefoxGreeting); 
	color: transparentize($mainColour, 0.3); 
	font-size: $h1Size;
}

h2 {
	@include firefox-message("&", $firefoxGreeting); 
	color: lighten($mainColour, 5%); 
	margin-top: $removeMargin; 
	font-size: $h1Size * .8; 
}

h3 { 
	@include firefox-message("&", $firefoxGreeting); 
	color: lighten($mainColour, 10%); 
	margin-top: $removeMargin; 
	font-size: $h1Size * .6; 
}

h4 { 
	@include firefox-message("&", $firefoxGreeting); 
	color: lighten($mainColour, 15%); 
	margin-top: $removeMargin; 
	font-size: $h1Size * .4; 
}

h5 {  
	@include firefox-message("&", $firefoxGreeting); 
	color: lighten($mainColour, 20%); 
	margin-top: $removeMargin; 
	font-size: $h1Size * .2; 
}