$dark-blue: #327DA0;
$dark-red: #a03246;
$dark-yellow: #a08c32;
$dark-pink: #a0327d;
$dark-orange: #a05532;
$dark-cyan: #32a08c;
$white: #fff;

// The underscore in the filename means that it is a partial—it's easiest to think of 
// this as a code excerpt that we will put in our main style sheet. The key point 
// though is that there is no need to compile it in a standalone file in its own right. 
// As the _partials folder is outside the scope of the monitoring done by our Grunt file, 
// files will only be compiled if imported into our code.