
// Mixins do as the name suggests. They allow you to "mix-in" blocks of code 
// into our existing projects, which reduces the amount of code we need to 
// write because the work has already been done.

@mixin firefox-message($selector, $message) {
  #{$selector}:before {
    content: $message;
  }
}

@mixin large-text {
  font: {
    family: Arial;
    size: 20px;
    weight: bold;
  }
  color: #ff0000;
}

// This reduction of code is known as the DRY principle or Don't Repeat Yourself. 
// It's a key tenet of Software Development.

// We may only have two mixins now, but over time, we can gradually build up a custom 
// library of mixins that can be used in future projects. If the mixin library gets too 
// big, we can always split them into smaller files and use an @import statement to compile 
// the smaller files into one larger library.

@mixin image-template($height, $width) {
  border: {
    border-radius: 4px;
    height: $height;
    width: $width;
  }
}

.imgMedium { 
  @include image-template(5rem, 7rem); 
}

// In place of standard mixins with fixed values, we can use parametric mixins, where we pass 
// it to different values in each instance of calling the mixin.